@import 'null.scss';
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Comfortaa&display=swap');
//========================\\
body {
    color: #D2AB99;
    background: #04724D;
}
.container {
    width: 95%;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.volcha {
    font-family: 'Alumni Sans Pinstripe', sans-serif;
	&__quote {
        font-size: 1.5rem;
        font-weight: 700;
	}
	&__author {
        font-size: 1.3rem;
        font-weight: 700;
        font-style: italic;
	}
    button {
        font-size: 1rem;
        margin: 20px 0 0 0;
        color: #D2AB99;
        font-weight: 700;
        padding: 5px;
        border-radius: 20px;
        box-shadow: 2px 2px 0px 0px #074746;
        background: #08605F;
    }
}
